*.class
/core/target/classes/META-INF/fabric8/kubernetes/teste-pleno-gubee-core-deployment.yml
/core/target/classes/META-INF/fabric8/openshift/teste-pleno-gubee-core-deploymentconfig.yml
/core/target/fabric8/helm/kubernetes/teste-pleno-gubee-core/templates/teste-pleno-gubee-core-deployment.yaml
/core/target/teste-pleno-gubee-core-1.0.0-SNAPSHOT-helm.tar.gz
/model/target/teste-pleno-gubee-model-1.0.0-SNAPSHOT.jar
/core/target/classes/META-INF/fabric8/openshift.yml
/core/target/maven-archiver/pom.properties
/model/target/maven-archiver/pom.properties
/.idea/markdown.xml
/.idea/misc.xml
/LICENSE
/.idea/vcs.xml
/.idea/jarRepositories.xml
*.pb
/.idea/encodings.xml
/.idea/compiler.xml
/.idea
/core/src/test/resources/application-it.properties
